body{
	background-image: URL("../images/deadpoolbackground.jpg");
	background-repeat:no-repeat;
	background-attachment: fixed;
	background-size: cover;
}
#content {
	background-color:transparent;
	height: 400px;
	width: 100%;
	margin-top: 150px;
}

h2 {
	color: white;
	text-align: center;
}

#header {
    margin-bottom: 100px;
	text-align: center;
	color:black;
} 
#startButton {
	color: firebrick;
	background-color: #000000;
	margin-left: 725px;
}

#questionSection{
text-align: center;
color: white
}

#answerSection{
text-align: center;
color: white;
}

#questionResult {
text-align: center;
}

#playAgainButton {
	color: firebrick;
	background-color: #000000;
	display: flex;
	justify-content: center;
	margin-left: 725px;
}

#deadpoolResultPic {
	margin-top: 50px;
	margin-left: 525px;
}

